<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8EB0Mz0RuGnXW4a57JZjJ8OYcmwRBk10</string>
	<key>GCM_SENDER_ID</key>
	<string>719142155853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asha.gocal.ai</string>
	<key>PROJECT_ID</key>
	<string>gocal-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>gocal-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719142155853:ios:e3cbf1d817d555083a0e04</string>
</dict>
</plist>